/******************************************************************************/
/* Form																		  */
/******************************************************************************/

textarea, input[type="text"] {
    width: 368px;
}

/******************************************************************************/
/* Main																		  */
/******************************************************************************/

div {
    &.main {
        width: 410px;
    }

    &.header ul.header-menu li {
        clear: both;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    &.cascade {
        width: 410px;

        div.caroufredsel_wrapper {
            width: 410px !important;
        }

        ul.cascade-menu {
            width: 410px;
        }

        div.cascade-window {
            left: 0px;

            div {
                &.cascade-window-content {
                    width: 400px;
                }

                &.cascade-page {
                    width: 390px;
                }

                &.cascade-window-footer {
                    background-image: url('../../assets/images/content_footer_410.png');
                }
            }
        }

        a {
            &.cascade-navigation-prev, &.cascade-navigation-slider-prev {
                left: -35px;
            }

            &.cascade-navigation-next, &.cascade-navigation-slider-next {
                right: -35px;
            }
        }
    }

    &.gallery-list-wrapper {
        width: 365px;
    }
}

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

/**************************************************************************/
/*	Cascade                                                               */
/**************************************************************************/

/**********************************************************************/
/* Cascade / Box menu                                                 */
/**********************************************************************/

/******************************************************************/
/* Cascade / Window                                               */
/******************************************************************/

/**************************************************************/
/* Cascade / Window / Content                                 */
/**************************************************************/

/**************************************************************/
/* Cascade / Window / Footer                                  */
/**************************************************************/

/**********************************************************************/
/* Cascade / Navigation                                               */
/**********************************************************************/

/******************************************************************************/
/* Page																		  */
/******************************************************************************/

/**************************************************************************/
/* Gallery                                                                */
/**************************************************************************/

/**********************************************************************/
/* Gallery / List                                                     */
/**********************************************************************/

ul.gallery-list {
    width: 370px;
}

