/******************************************************************************/
/* Form																		  */
/******************************************************************************/

textarea, input[type="text"] {
    width: 168px;
}

/******************************************************************************/
/* Social list														          */
/******************************************************************************/

/**************************************************************************/
/* Social list / Social list 1									          */
/**************************************************************************/

ul.social-list-1 {
    margin-top: 10px;

    li:first-child {
        display: none;
    }
}

/******************************************************************************/
/*	Main																	  */
/******************************************************************************/

div {
    &.main {
        width: 200px;
    }

    &.header {
        h1 a {
            font-size: 40px;
        }

        ul.header-menu li {
            clear: both;
            margin-left: 0px;
            margin-bottom: 5px;
        }
    }

    &.cascade {
        width: 200px;

        div.caroufredsel_wrapper {
            width: 200px !important;
        }

        ul.cascade-menu {
            width: 200px;
        }

        div.cascade-window {
            left: 0px;

            div {
                &.cascade-window-content {
                    width: 200px;
                }

                &.cascade-page {
                    width: 190px;
                }

                &.cascade-window-footer {
                    background-image: url('../../assets/images/content_footer_200.png');
                }
            }
        }

        a {
            &.cascade-navigation-prev, &.cascade-navigation-slider-prev {
                left: -50px;
            }

            &.cascade-navigation-next, &.cascade-navigation-slider-next {
                right: -50px;
            }
        }
    }
}

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

/**************************************************************************/
/*	Cascade                                                               */
/**************************************************************************/

/**********************************************************************/
/* Cascade / Box menu                                                 */
/**********************************************************************/

/******************************************************************/
/* Cascade / Window                                               */
/******************************************************************/

/**************************************************************/
/* Cascade / Window / Content                                 */
/**************************************************************/

/**************************************************************/
/* Cascade / Window / Footer                                  */
/**************************************************************/

/**********************************************************************/
/* Cascade / Navigation                                               */
/**********************************************************************/

/******************************************************************************/
/* Page																		  */
/******************************************************************************/

/**************************************************************************/
/* Slider																  */
/**************************************************************************/

#slider {
    width: 190px;
}

#sliderBox {
    width: 190px;
    height: 250px;
}

#slider {
    height: 210px;
}

/**************************************************************************/
/* Gallery                                                                */
/**************************************************************************/

div.gallery-list-wrapper {
    width: 180px;
}

/**********************************************************************/
/* Gallery / List                                                     */
/**********************************************************************/

ul {
    &.gallery-list {
        width: 180px;

        li {
            margin-right: 0px;
        }
    }

    &.filter-list {
        display: none;
    }
}

/**********************************************************************/
/* Gallery / Filter list                                              */
/**********************************************************************/

/**********************************************************************/
/* Gallery / Filter select box                                        */
/**********************************************************************/

select.filter-select-box {
    display: block;
}

/**************************************************************************/
/* Skill List                                                             */
/* Careerlist                                                             */
/**************************************************************************/

/**********************************************************************/
/* Skill List                                                         */
/**********************************************************************/

ul.skill-list li div {
    &.skill-list-item-level {
        width: 100%;
        clear: both;
        float: none;
        height: 100%;
        overflow: hidden;
        margin: 5px 0px 10px 0px;
    }

    &.skill-list-item-period {
        clear: both;
    }
}
