/******************************************************************************/
/* Form																		  */
/******************************************************************************/

textarea, input[type="text"] {
    width: 358px;
}

/******************************************************************************/
/*	Main                                                                  `   */
/******************************************************************************/

div {
    &.main {
        width: 620px;
    }

    &.header ul.header-menu li {
        float: left;
    }

    &.cascade {
        width: 620px;

        div.caroufredsel_wrapper {
            width: 620px !important;
        }

        ul.cascade-menu {
            width: 620px;
        }

        div.cascade-window {
            left: 220px;

            div {
                &.cascade-window-content {
                    width: 390px;
                }

                &.cascade-page {
                    width: 380px;
                }

                &.cascade-window-footer {
                    background-image: url('../../assets/images/content_footer_400.png');
                }
            }
        }

        a {
            &.cascade-navigation-prev, &.cascade-navigation-slider-prev {
                left: -60px;
            }

            &.cascade-navigation-next, &.cascade-navigation-slider-next {
                right: -60px;
            }
        }
    }

    &.gallery-list-wrapper {
        width: 365px;
    }
}

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

/**************************************************************************/
/*	Cascade                                                               */
/**************************************************************************/

/**********************************************************************/
/* Cascade / Box menu                                                 */
/**********************************************************************/

/******************************************************************/
/* Cascade / Window                                               */
/******************************************************************/

/**************************************************************/
/* Cascade / Window / Content                                 */
/**************************************************************/

/**************************************************************/
/* Cascade / Window / Footer                                  */
/**************************************************************/

/**********************************************************************/
/* Cascade / Navigation                                               */
/**********************************************************************/

/******************************************************************************/
/* Page																		  */
/******************************************************************************/

/**************************************************************************/
/* Gallery                                                                */
/**************************************************************************/

/**********************************************************************/
/* Gallery / List                                                     */
/**********************************************************************/

ul.gallery-list {
    width: 370px;
}
