/******************************************************************************/
/*	Layouts																	  */
/******************************************************************************/

.layout-50 {}

.layout-50-left, .layout-50-right, .layout-6040-left, .layout-6040-right, .layout-4060-left, .layout-4060-right, .layout-7030-left, .layout-7030-right {
    float: none;
    clear: both;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.layout-50-right {
    margin-top: 30px;
}

/******************************************************************************/
/*	Header																	  */
/******************************************************************************/

div {
    &.header ul.header-menu {
        float: left;
        margin-top: 10px;
    }

    &.cascade a {
        &.cascade-navigation-prev, &.cascade-navigation-slider-prev {
            left: 0px;
        }

        &.cascade-navigation-next, &.cascade-navigation-slider-next {
            right: 0px;
        }
    }

    &.footer div.main ul.social-list {
        margin-top: 10px;

        li:first-child {
            display: none;
        }
    }
}

/**********************************************************************/
/* Cascade / Navigation                                               */
/**********************************************************************/

/******************************************************************************/
/*	Footer		                                                              */
/******************************************************************************/

/******************************************************************************/
/* Page																		  */
/******************************************************************************/

/**************************************************************************/
/* Slider																  */
/**************************************************************************/

#sliderBox {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/**************************************************************************/
/* Gallery                                                                */
/**************************************************************************/

/**********************************************************************/
/* Gallery / List                                                     */
/**********************************************************************/

ul.gallery-list li {
    &.left, &.center, &.right {
        clear: none;
        float: left;
    }
}
